html {
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
p {
  margin: 0 0 1.3rem;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.photo:nth-child(2), .photo:nth-child(5) {
  display: none;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

@media only screen and (min-width: 25em) {

  .photo:nth-child(2), .photo:nth-child(5) {
    display: block;
  }

  .photo:nth-child(2), .photo:nth-child(3), .photo:nth-child(4), .photo:nth-child(5) {
    width: 50%;
  }

}
